.short-desc-wrapper {
    width: 100%;
    background-color: #f7f3eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-animated-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
}