.personal-project-info-wrapper {
  width: 100%;
  background-color: #7510f7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-info-subtitle {
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .personal-project-info-wrapper {
    padding: 16px;
  }

  .project-info-subtitle {
    width: 100%;
  }
}
