.home-page-wrapper {
  min-height: 100vh;
  background-color: #f7f3eb;
  margin-top: 64px;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* @media only screen and (max-width: 600px) {
  .home-page-wrapper {
    margin-top: 56px;
  }
} */
